@import '~antd/dist/antd.css';

.section{
  height: 100vh;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  /* padding: 0 24px; */
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2%;
  padding-top: 0.5em;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px solid;
}
legend {
  width: fit-content;
  padding: 3px 6px;
}
.login-form {
  max-width: 300px;
  margin: auto;
  height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.select-custom{
  width: 100%;
  margin-bottom: 2%;
}

@media all and (min-width: 550px) {
  .select-custom{
    width: 200px;
  }
}
@media all and (min-width: 768px) {
  .section{
    height: 100vh;
  }
}

@media all and (max-width: 767px){
  .resultsDiv{
    margin-top: 5%;
  }
}